asn1crypto==0.24.0
cffi==1.11.5
chardet==2.3.0
colorama==0.3.2
cryptography==2.2.2
Django==2.0.3
gunicorn==19.7.1
html5lib==0.999
idna==2.6
meld3==1.0.0
mysql-connector-python==8.0.6
ndg-httpsclient==0.3.2
ply==3.4
pyasn1==0.1.7
pycparser==2.10
pyOpenSSL==0.14
pytz==2018.3
requests==2.4.3
six==1.8.0
urllib3==1.9.1
virtualenv==1.11.6
