{% extends 'layouts/base.html' %}
{% load static %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Mentions Légales Pur Beurre</h2>
        <hr class="my-4">
      </div>
      <div>
        <h3>MENTIONS LÉGALES</h3>
        <p class=" mb-4">
             La consultation de ce site internet suppose l’acceptation pleine et sans réserves des mentions suivantes.

        </p>

        <h3>PROPRIÉTÉ DU SITE</h3>
        <p class=" mb-4">Le site Pur Beurre est la propriété de Rémy & Colette Tatou</p>

        <h3>SIÈGE SOCIAL</h3>
        <p class=" mb-4">Pur Beurre<br/>
        Montmartre (Paris)<br/>
        Tél : 00 00 00 00 00<br/>
        SIRET 000000000 00000
        </p>
        <h3>DÉVELOPPEMENT DU SITE</h3>
        <p class=" mb-4">Le site Pur Beurre a été développé  par la société<br/>
        Yohan SOLON – rue ..... – 67000 STRASBOURG (Bas-Rhin / Alsace)</p>

        <h3>HÉBERGEMENT DU SITE</h3>
        <p class=" mb-4">Le site Pur Beurre est hébergé par la société :<br/>
        Heroku</p>

        <h3>ÉDITEUR DU SITE</h3>
        <p class=" mb-4">Le contenu du site Pur Beurre est édité par Rémy & Colette Tatou</p>

        <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
        <p class=" mb-4">La société Pur Beurre est propriétaire de la structure et de tous les contenus disponibles<br/>
        du site Pur Beurre textes, images, illustrations, logos, fichiers et bases de données.<br/>
        Toute reproduction ou distribution, totale ou partielle, sans autorisation préalable est strictement interdite.<br/>
        </p>

        <h3>LES PHOTOS DES PRODUITS</h3>
        <p class=" mb-4">Les photos des produits sont issues du site Open Food Facts<br/>
        disponibles sous la licence <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Creative Commons Attribution Partage à l'identique</a>. <br/>
          Elles peuvent contenir des éléments graphiques soumis à droit d'auteur, copyright ou droit des marques, <br/>
          qui peuvent dans certains cas être reproduits (droit de citation, droit à l'information ou "fair use"). <br/>

        </p>

      </div>
    </div>
  </div>
</section>

{% endblock %}
