{% extends 'layouts/base.html' %}
{% load static %}
{% block content%}
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1 class="text-uppercase">
          <strong>Du gras, oui, mais de qualité! </strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <h2 class="text-faded mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours</h2>
          <form action="" id="form-search">
              <div class="form-group">
                  <input type="text" name="q"/>
                  <button class="btn btn-primary btn-xl" >Chercher</button>
              </div>
          </form>

      </div>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Colette et Rémy</h2>
        <hr class="light my-4">
        <p class=" mb-4">
         <span class="text-xl-center">De la ratatouille aux croissants</span><br/>
Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.<br/>

        </p>
        <p class=" mb-4">
         <span class="text-bold">Colette Tatou : </span>
         "Nous aimons tous manger, surtout en France ! Personnellement,
            une baguette fraîche, du bon fromage de chèvre et un bon vin
            rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché.
            Mais petit à petit je me suis rendue compte, surtout
            lorsque nous avons ouvert le restaurant, que je pouvais remplacer
            les produits aseptisés que j'avais l'habitude d'acheter par de bons produits
            du terroir Et souvent pour le même prix !"
        </p>
        <p class=" mb-4">
            <span class="text-bold">Remy : </span>
        "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader,
                        surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques
                        bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus.
                        Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal
                        par un aliment plus sain, je savais tout de suite où le trouver.
                        L'idée de Pur Beurre était née !"
        </p>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{% static 'img/colette.png' %}" alt="photo colette">
                  <div class="card-body">
                    <h5 class="card-title">Colette</h5>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{% static 'img/remy.jpg' %}" alt="photo remy">
                  <div class="card-body">
                    <h5 class="card-title">Remy</h5>

                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section  class="bg-primary" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading  text-white">Contactez-nous</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">
           phrase
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contactez-nous</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Sturdy Templates</h3>
          <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Ready to Ship</h3>
          <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Up to Date</h3>
          <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Made with Love</h3>
          <p class="text-muted mb-0">You have to make your websites with love these days!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
    <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
  </div>
</section>

{% endblock %}
