.logo{
    width: 50px;
}
#form-search .form-group{
    background-color: #f05f40;
    border-color: #f05f40;
    display: inline-block;
    border-radius: 100px;
    padding-left: 15px;
}
#form-search .form-group input{
    background-color: rgba(255,255,255,0.2);
    padding: 5px ;
    outline: none;
    border: none;
}
#form-search .form-group input:focus{
    background-color: rgba(255,255,255,1);
}


#form-search .form-group .btn{
    border-radius: 0 50px 50px 0;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.menu-link-icon {

    font-size: 1.15em;
}
.menu-icon{
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.menu-icon-carrot{
    background-image: url("/static/img/carrot_inactive.png");
}
.menu-icon-carrot-inactive{
    background-image: url("/static/img/carrot_inactive.png");
}
.menu-icon-carrot:hover{
    background-image: url("/static/img/carrot.png");
}
.navbar-nav .search
{
    margin-right: 25px;
    padding-top: 8px;
}
.menu-link-icon .error:hover{
    color: crimson;
}
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link
{
    color: #bababa !important;
}
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover {
    color: #de9440 !important;
}
.btn-gray
{
    background-color: rgba(255,255,255,.7);
}
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.btn-gray
{
    background-color: #bababa;
    color: #FFFFFF !important;
}
.page-header-menu{
    padding: 2.3rem 0;
}
.page-header{
    margin-top: 50px;
    padding: 3rem 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,
.masthead h2{
    text-shadow: 0px 0px 1px #393939;
    color: #fff;
}
#mainNav.bg-menu-dark {
    background-color: #212529;
}
.section-heading{
    padding: 0.5rem 0;
    margin-bottom: 15px;
}
.main-container {
    margin-bottom: 80px;
}
.substitution h1{
    color: inherit;
    text-shadow: none;
}
#products .item
{
    margin: 10px 0;
    position: relative;
}
#products .badge
{
    display: inline;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 1.1em;
    padding: .3em .5em;
    color: #ffffff;
}
#products .badge-a
{
    background-color: #038141;
}
#products .badge-b
{
    background-color: #85bb2f;
}
#products .badge-c
{
    background-color: #fecb02;
}
#products .badge-d
{
    background-color: #ee8100;
}
#products .badge-e
{
    background-color: #e63e11;
}

.card .hoverlay{
    display: none;
    position: absolute;
    height: 155px;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    text-align: center;
    font-size: 4em;
    line-height: 155px;
    color: #86ebe6;
}
.card:hover .hoverlay{
    cursor: pointer;
    display: block;
}
#about h3{
    font-size: 1.4em;
}
.form-signin{
    margin: 25px auto;

}
.logout
{
    padding-top: 50px;
}

.logout .alert
{
    margin: 0 auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer
{
  padding: 15px 0 40px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}