{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

<header class="bg-secondary text-center text-white d-flex page-header">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2 class="text-uppercase">
          A hoy
        </h2>
        <strong>{{ user.first_name }}</strong>
        <hr>
      </div>
    </div>
  </div>
</header>

<section class="p-0" id="products">
  <div class="container ">
    <div class="row logout">
      <div class="alert alert-info" role="info">
        {{ user.email }}
      </div>
    </div>
  </div>
</section>


{% endblock %}